/* Styles for the Advanced Markup assignment. */

body {
   	background-color: #CBD4C2;
	color: #262730;
	padding-left: 75px;
    padding-right: 75px;
	margin: 0;
}
#header {
	padding-bottom: 1em;
	padding-top: 1em;
}
h1, h2, h3, h4, h5, h6 {
	font-family: "Georgia", serif;
	text-align: center;
}
nav ul {
	text-align: center;
	clear: both;
	padding-top: 1em;
	padding-bottom: 1em;
	}
nav ul li {
	display: inline;
	padding-left: 3em;
    padding-right: 3em;
    font-size: large;
	}
ul li {
    list-style-type: none;
}
a:link {
    color: #3F5E5A;
}
a.active {
	font-weight: bold;
}
a:visited {
    color: #E36397;
}
a:hover {
    color: #9E0031;
}
#content {
	padding-top: 20px;
	padding-bottom: 3em;
}
.poem {
	width: 500px;
	margin: 0 auto;
}
.poem li {
	font-size: large;
	font-family: "Georgia", serif;
	line-height: 1.8;
	text-align: center;
}
.first-word {
	font-weight: bold;
	font-size: 120%;
}
.bio-photo {
	width: 250px;
	float: left;
	background: #75717B;
	margin: 20px;
	padding: 20px;
	border: solid 4px;
	border-color: #262730;
	text-align: center;
}
.bio-photo img {
	width: 250px;
}
#sidebar {
	width: 250px;
	float: right;
	background: #75717B;
	margin: 20px;
	padding: 20px;
	border: solid 4px;
	border-color: #262730;
	clear: right;
}
#sidebar.poem-sidebar {
	clear: both;
}
#social-links {
	text-align: center;
	font-weight: bold;
}
.work-title {
	font-style: italic;
}
table {
   	border-spacing: 1em; 
	width: 500px;
	margin: 3em auto 1em auto;
	padding: 1em;
}
caption {
	font-weight: bold;
}
table td, table th {
    padding: 0.5em; 
}
hr {
 	margin-top: 3px;
    margin-bottom: 3px;
	height: 4px;
	background-color: #262730;
}
